<center class="col-md-offset-2 col-md-8 about">
	<div class="avatar-image-wrapper">
		<%= image_tag("avatar.png") %>
	</div>

	<p>Hi, I'm Valentine Terebenin, currently live in Smolensk and I make things for the web. 
	I'm not too bad at Ruby and Rails things, but I also do UI/UX design, minimum front-end development.</p>

	<p>In a "non-web-dev time" I usually play video-games, study electromechanics, ride velo. 
		I'm really interested in cinema, retro-games, tech books and computer science.
	</p>
	<p>Check out some things <a href=<%= posts_path %>>I've written</a> or <a href=<%= projects_path %>>projects I've done</a>.</p>
</p>
<div class="col-md-6 col-xs-12 links">
	<p>My social links:</p>
	<ul class="social">
		<li><i class="fab fa-github"></i><a href="https://github.com/Vterebenin">github</a></li>
		<li><i class="fab fa-vk"></i><a href="https://vk.com/dfkz1">vk</a></li>
		<li><i class="fab fa-telegram-plane"></i><a href="https://t.me/ternow">Telegram</a></li>
		<li><i class="fas fa-envelope"></i>email: <a href="#">ternow1@yandex.ru</a></li>
	</ul>
</div>
<div class="col-md-6 col-xs-12 thing-image-wrapper">
		<%= image_tag("the-thing.png") %>
</div>
</center>