<header>
	<div class="animation-h1">
		<h1 class="ternow-h1">WHO AM I?</h1>
		<div class="background-size">
		</div>
	</div>
	<div class="animation-h1">
		<h1 class="ternow-h1">WHO AM I?</h1>
		<div class="background-size">
		</div>
	</div>
	<div class="animation-h1">
		<h1 class="ternow-h1">WHO AM I?</h1>
		<div class="background-size">
		</div>
	</div>
	<div class="animation-h1">
		<h1 class="ternow-h1">WHO AM I?</h1>
		<div class="background-size">
		</div>
	</div>
</header>
