/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$accent: #ef2b2b
$custom-dark: #000
$white: #fff
@import "bootstrap-sprockets"
@import "bootstrap"
@import url("hover.css")
body 

	font-family: oswaldmedium, sans-serif
::selection
	color: $white
	background: #ff0000
a
	color: $custom-dark
	&:visited
		color: $custom-dark
	&:hover
		background-color: transparent
		text-decoration: none
		color: $custom-dark
		opacity: 0.8
.navbar-nav > li > a
	padding-bottom: 0 !important
.nav-item
	font-size: 14px

	&:after
		backface-visibility: hidden
		border: 2px solid rgba(#ff0000, 0)
		bottom: 0px
		content: " "
		display: block
		margin: 0 auto
		position: relative
		transition: all 280ms ease-in-out
		width: 0
	&:hover:after
		backface-visibility: hidden
		border-color: #FF0000
		transition: width 350ms ease-in-out
		width: 100%

.active
	&:after
		backface-visibility: hidden
		border-color: #FF0000
		transition: width 350ms ease-in-out
		width: 100% !important


.cover-image
	background-position: center center
	width: 100%
	height: 400px
	background-attachment: fixed
	background-position: center bottom
	background-repeat: no-repeat
	background-size: cover
	.cover-image-overlay
		background-color: #000
		width: 100%
		height: 400px
		opacity: 0.3
		position: absolute
.header-image-title
	z-index: 30
	color: $white
	padding: 0
	margin: 0
	margin-top: 150px
	position: absolute
	text-align: center
	width: 100%

	h1
		font-size: 64px
		font-family: relapseregular, sans-serif
		&::before
			content: ''
			position: absolute
			top: 20px
			margin-left: -20px
			width: 310px
			height: 70px	
			border: #fff solid 10px

.posts
	padding-bottom: 100px
	.post-wrapper
		margin-top: 60px
		&:first-child
			margin-top: 0
		&:last-child:after
			display: none
			width: 0
			height: 0
		&:after
			content: ''
			width: 300px
			height: 4px
			background-color: #000
			margin-top: 40px
			border-radius: 3px
			position: absolute
		.post-text
			margin-top: -40px
			font-size: 24px
			line-height: 1.5
// navbar
.navbar
	background-color: transparent
	.navbar-brand
		svg
			width: 120px
			height: 30px
	.nav-item
		padding: 5px
