
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.collapse, .collapsing {
		.navbar-right {
			text-align: center;
			float: none !important;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	aside {
		text-align: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header-image-title > h1 {
		&::before {
			display: none;
		}
	}
	.background-size, .background-size-2, .background-size-3 {
		display: none !important;
	}
	.navbar > .row {
		display: block;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}