
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.collapse, .collapsing {
		.navbar-right {
			text-align: center;
			float: none !important;
		}
	}
	.navbar .navbar-toggler {
		display: none;
	}
	.navbar .navbar-collapse {
		order: 3;
	}
	.navbar-brand {
		margin-right: -50px;
		order: -1;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	aside {
		text-align: center;
	}
	.navbar .navbar-toggler {
		display: inline-block;
		order: 2;
	}
	.navbar .navbar-collapse {
		width: 100%;
		margin: 0;
		padding: 0 35%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header-image-title > h1 {
		&::before {
			display: none;
		}
	}
	.background-size, .background-size-2, .background-size-3, .background-size-4 {
		display: none !important;
	}
	.post-text {
		margin-top: 0;
	}
	.navbar > .container {
		display: block;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}